@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PRIMEIRO */
body {
  font-family: sans-serif; /* fonte sem serifa */
  font-size: 16px; /* tamanho da fonte, o tamnho padrão já é 16px */
  background-color: rgb(255, 244, 224);
}

.container {
  max-width: 900px; /* Largura máxima do container */
  background-color: white;
  /* border-width: 1px;
      border-style: solid;
      border-color: red; */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50px;
  border-radius: 25px;
  margin-top: 100px;
}

.img-fluid {
  width: 100%; /* Largura 100% */
  height: auto;
}

.text-center {
  text-align: center;
  color: rgb(141, 75, 0);;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

h1 {
  color: rgb(141, 75, 0); /* Define a cor do texto */
}

input,
label {
  display: block;
  width: 100%;
  border: 1px solid rgb(141, 75, 0);
  font-size: 14px;
  color: rgb(165, 146, 124);
}

input {
  padding: 10px;
  box-sizing: border-box;

}

label {

  margin-top: 15px;
  border-color:rgba(136, 136, 136, 0);
}

input,
textarea {
  margin-top: 10px;
  border-radius: 5px;
  border-color:rgb(141, 75, 0);
}

textarea {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
}

h1 {
  font-weight: bold;
  font-size: 1.5em; /* unidade de medida baseada no tamanho atual */
  margin-bottom: 10px; /* CHALLENGE!!!! Colocar em EM */
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.psobre{
  width: 300px;
}

.inicio{
  width: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

#clique_exercicio{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.grid{
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100px;
  text-align: center;
}


.menu {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 600px;
  align-items: center
}
.menu li {
  font-weight: bold;
}
.menu li a {
  color: rgb(165, 93, 0);
}

.position-relative {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.sobre{
  flex-direction: column;
  width: 400px;

}

.foto {
  max-width: 400px;
  transform: translateX(-30px);

}

#botao{
  margin-top: 10px;
  background-color:rgb(165, 93, 0) ;
  color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 10px;

}

#input{
  background-color:rgb(165, 93, 0) ;
  color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

footer {
  margin-top: 50px;
}/*# sourceMappingURL=styles.css.map */